<div class="jumbotron">
    <h1>The Hangman Game 
        <img src="~/Content/images/10.png" height="40" width="40" /> </h1>

</div>

<div id="mainView">
    <div class="row">
        <div class="col-md-2">
            <label>Categoria:</label>
        </div>
        <div class="col-md-4">
            <select id="category" class="form-control input-sm"
                    data-bind="options: Categories,
                                  optionsText: 'Name',
                                  optionsValue: 'Id',
                                  value:CategoryId,
                                  optionsCaption: 'Elejir...', event:{change:onCategoryChange}"></select>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2">
            <label>Letra:</label>
        </div>
        <div class="col-md-2" >
            <input type="text" data-bind="value:singleWord,enable:gameStarted" maxlength="1" style="width:40px;"/>
            <input type="hidden" id="npic" value="0"  />
            <button id="btnPlayWord" class="btn btn-default btn-xs" data-bind="click:PlayWord">
                <span class="glyphicon glyphicon-play"></span>
            </button>
        </div>
        

    </div>

    <div class="row">
        <div id="chars">

        </div>
    </div>

    <div class="row">
        <div class="col-lg-9">
            <span data-bind="text:SelectedWords"></span>
        </div>

        <div class="col-lg-3">
            <img   data-bind="attr:{ src:PhotoName }, visible:picVisible"   />
        </div>

    </div>
</div>
@section Scripts{
    <!--ViewModel -->
    <script src="~/Scripts/App/ViewModels/HomeViewModel.js"></script>
}

